@font-face {
  font-family: 'Aleo';
  src: url('font/aleo/regular/Aleo-Regular-webfont.eot');
  src: url('font/aleo/regular/Aleo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/aleo/regular/Aleo-Regular-webfont.woff') format('woff'),
       url('font/aleo/regular/Aleo-Regular-webfont.ttf') format('truetype'),
       url('font/aleo/regular/Aleo-Regular-webfont.svg#aleoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aleo';
  src: url('font/aleo/regularitalic/Aleo-Italic-webfont.eot');
  src: url('font/aleo/regularitalic/Aleo-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/aleo/regularitalic/Aleo-Italic-webfont.woff') format('woff'),
       url('font/aleo/regularitalic/Aleo-Italic-webfont.ttf') format('truetype'),
       url('font/aleo/regularitalic/Aleo-Italic-webfont.svg#aleoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Aleo';
  src: url('font/aleo/bold/Aleo-Bold-webfont.eot');
  src: url('font/aleo/bold/Aleo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/aleo/bold/Aleo-Bold-webfont.woff') format('woff'),
       url('font/aleo/bold/Aleo-Bold-webfont.ttf') format('truetype'),
       url('font/aleo/bold/Aleo-Bold-webfont.svg#aleobold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aleo';
  src: url('font/aleo/bolditalic/Aleo-BoldItalic-webfont.eot');
  src: url('font/aleo/bolditalic/Aleo-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/aleo/bolditalic/Aleo-BoldItalic-webfont.woff') format('woff'),
       url('font/aleo/bolditalic/Aleo-BoldItalic-webfont.ttf') format('truetype'),
       url('font/aleo/bolditalic/Aleo-BoldItalic-webfont.svg#aleobolditalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

* {
  font-family: 'Aleo', sans-serif;
}

a {
  color: #333;
}

a:focus,
a:hover {
  color: #698948;
  text-decoration: none;
}

nav {
  border-bottom: 1px solid #eee !important;
}

.tbpadd {
  padding-top: 20px;
  padding-bottom: 20px;
}

.tpadd {
  padding-top: 20px;
}

.bpadd {
  padding-bottom: 20px;
}

.fpadd {
  padding-top: 40px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 330px;
}

footer {
  border-top: 1px solid #eee;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 330px;
}

.icons {
  margin: 0;
  padding: 0;
  text-align: right;
}

footer .icons li {
  display: inline-block;
}

.fa {
  color: #698948;
  width: 2em;
  font-size: 22pt;
  text-align: center;
}

.fa span {
  display: none;
}

footer .fa {
  font-size: 14pt;
}

footer .row>div:first-child {
  padding-left: 30px;
}

.navbar {
  min-height: 120px;
  margin-bottom: 0;
  border: 0;
}

.navbar-brand {
  height: 100%;
}

.navbar-default {
  background-color: #fff;
}

.navbar-toggle {
  border-color: #698948 !important;
}

.navbar-toggle {
  margin-top: 66px;
  margin-bottom: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #698948;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #698948;
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}

.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open>.dropdown-toggle.btn-default,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #698948;
  border-color: #698948;
}

.btn-default {
  color: #698948;
  border-color: #698948;
}

.dropdown-menu {
  min-width: 40px;
}

.dropdown-menu li {
  width: 100%;
}

@media (max-width: 768px) {
  #carousel {
    padding: 0;
  }

  .fc {
    text-align: center;  
  }
  
  .fpadd {
    padding-top: 20px;
  }
  
  .apoios img {
    padding-left: 10px;
    padding-right: 10px;
  }

  .navbar-brand {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
  }

  footer .row>div:first-child {
    padding-left: 15px;  
  }
}

@media (min-width: 410px) {
  body {
    margin-bottom: 270px;
  }

  footer {
    height: 270px;
  }
}

@media (min-width: 635px) {
  body {
    margin-bottom: 195px;
  }

  footer {
    height: 195px;
  }
}

@media (min-width: 768px) {
  body {
    margin-bottom: 185px;
  }

  footer {
    height: 185px;
  }
  
  .apoios a:not(:last-child) img {
    padding-right: 20px;
  }

  .navbar-nav {
    left: 50%;
    position: relative;
    transform: translate(-50%, 0%);
  }
  
  .navbar-nav>li>a {
    padding-top: 55px;
    border-radius: 0 0 4px 4px;
  }

  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }
  
  .item img {
    object-fit: cover;
    width: 1440px;
    height: 570px !important;
  }
}

@media (min-width: 1200px) {
  body {
    margin-bottom: 120px;
  }

  footer {
    height: 120px;
  }
}

/* Spiracol */

#languages {
  padding-left: 10px;
}

#languages button,
#languages button:hover,
#languages button:focus {
  border: 0;
  color: #698948;
  background-color: transparent;
}

.news-title-home {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px 15px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.75);
}

.img {
  width: 100%;
}

.news-img-home {
  margin-top: 20px;
}

.news-img-list {
  margin-bottom: 10px;
}

.news-date {
  font-size: 16px;
  color: #777;
  margin-top: 0;
}
